<include file="Public/header" title="编辑成长" />
<div id="page-wrapper">
    <form method="post" action="{:U('growth/add')}">
        <div class="form-group">
            <label for="aa">金钱</label>
            <input type="text" name="money" class="form-control" id="aa" placeholder="输入金钱" value= "{$model['money']}">
        </div>
        <div class="form-group">
            <label for="aa">灵气</label>
            <input type="text" name="soul" class="form-control" id="aa" value= "{$model['soul']}" placeholder="输入灵气">
        </div>
         <div class="form-group">
            <label for="aa">时间</label>
            <input type="text" name="date" class="form-control" id="aa" value= "{$model['date']}" placeholder="输入日期默认当前时间">
        </div>
        <div class="form-group">
            <label for="aa">账号</label>
            <input type="text" name="username" class="form-control" id="aa" value= "{$model['user']['username']}" placeholder="输入账号">
        </div>

        <button type="submit" class="btn btn-default">添加</button>
    </form>
</div>
<include file="Public/footer" />