<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
    <li class="dropdown">
        <a href="{:U('user/index')}"><i class="fa fa-reorder"></i> 用户管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('notice/index')}"><i class="fa fa-edit"></i> 公告管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('growth/index')}"><i class="fa fa-file-text-o"></i> 成长管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('friend/index')}"><i class="fa fa-file-text-o"></i> 好友管理 </a>
    </li>
</ul>