body{ background: url(images/bg.jpeg) no-repeat; background-size: cover;}
.account-box{ margin: 30% .5rem 0 .5rem; border: 1px solid #999; border-radius: 4px; background-color: #fff; padding: .5rem; }