<include file="Public/header" title="编辑用户" />
<div id="page-wrapper">
    <form method="post" action="{:U('user/update')}">
        <div class="form-group">
            <label for="aa">账号</label>
            <input type="text" name="mobile" class="form-control" id="aa" placeholder="输入用户名" value= "{$model['mobile']}">
        </div>
        <div class="form-group">
            <label for="aa">强行修改密码(不建议操作)</label>
            <input type="text" name="password" class="form-control" id="aa" placeholder="输入新密码 不修改请忽略">
        </div>
        <div class="form-group">
            <label for="aa">确认密码</label>
            <input type="text" name="re_password" class="form-control" id="aa" placeholder="确认密码 不修改请忽略">
        </div>
        <div class="form-group">
            <label for="aa">用户名</label>
            <input type="text" name="user_name" class="form-control" id="aa" placeholder="输入用户名" value= "{$model['user_name']}">
        </div>
        <div class="form-group">
            <label for="aa">真实姓名</label>
            <input type="text" name="real_name" class="form-control" id="aa" placeholder="输入用户名" value= "{$model['real_name']}">
        </div>
        <div class="form-group">
            <label for="aa">性别</label>
            <select name="sex" id="bb" class="form-control">
                <if condition= "$model['sex'] eq 1">
                <option value="1" selected="selected">男</option>
                <option value="2">女</option>
                <option value="0">未知</option>
                <elseif condition= "$model['sex'] eq 2"/>
                <option value="1" >男</option>
                <option value="2"  selected="selected">女</option>
                <option value="0">未知</option>
                <elseif condition= "$model['sex'] eq 0"/>
                <option value="1">男</option>
                <option value="2">女</option>
                <option value="0"  selected="selected">未知</option>
                <else />
                <option value="1">男</option>
                <option value="2">女</option>
                <option value="0">未知</option>
                </if>
            </select>
        </div>

        <div class="form-group">
            <label for="bb">会员类别</label>
            <select name="class" id="bb" class="form-control">
                <if condition= "$model['class'] eq '一级会员'">
                <option value="一级会员" selected="selected">一级会员</option>
                <option value="二级会员">二级会员</option>
                <option value="三级会员">三级会员</option>
                <elseif condition= "$model['class'] eq '二级会员'"/>
                <option value="一级会员" >一级会员</option>
                <option value="二级会员"  selected="selected">二级会员</option>
                <option value="三级会员">三级会员</option>
                <elseif condition= "$model['class'] eq '三级会员'"/>
                <option value="一级会员">一级会员</option>
                <option value="二级会员">二级会员</option>
                <option value="三级会员"  selected="selected">三级会员</option>
                <else />
                <option value="一级会员">一级会员</option>
                <option value="二级会员">二级会员</option>
                <option value="三级会员">三级会员</option>
                </if>
            </select>
        </div>

        <div class="form-group">
            <label for="cc">等级</label>
            <input type="text" name="grade" class="form-control"  value= "{$model['grade']}" id="cc" placeholder="输入等级 默认0">
        </div>

            <input type="hidden" name="user_id" value="{$model['user_id']}">

        <button type="submit" class="btn btn-default">修改</button>
    </form>
</div>
<include file="Public/footer" />